body {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

@font-face {
  font-family: "Octicons Regular";
  src: url("../node_modules/octicons/octicons/octicons.ttf");
}

.list-item {
  text-decoration: none;
  display: block;
}
.list-item.expanded::before {
  font-family: "Octicons Regular";
  content: "\f0a3";
  width: 12px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}
.list-item.collapsed::before {
  font-family: "Octicons Regular";
  content: "\f078";
  width: 12px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}
.list-item.empty::before {
  display: inline-block;
  width: 12px;
  content: "";
}

.list-sub {
  padding-left: 18px;
}
.list-top {
  padding-left: 5px;
  margin-top: 5px;
}

.list-content {
  display: inline;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.list-content.directory::before {
  font-family: "Octicons Regular";
  content: "\f016";
  width: 18px;
  display: inline-block;
  vertical-align: top;
}
.list-content.file::before {
  font-family: "Octicons Regular";
  content: "\f011";
  width: 18px;
  display: inline-block;
  vertical-align: top;
}

.wrap {
  width: 100%;
}

.floatleft {
  float: left;
  width: 20%;
  background-color: #353b45;
  height: calc(100vh - 20px);
  color: rgb(215, 218, 224);
}

.floatright {
  float: right;
  background-color: #000;
  height: calc(100vh - 20px);
  width: 80%;
}

.topmenu {
  background-color: #292E36;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  color: rgb(215, 218, 224);
}

.CodeMirror {
  height: calc(100vh - 20px);
  position: relative;
  overflow: hidden;
}

.menu-item {
  display: inline-block;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.menu-item:hover {
  background-color: #353b45;
  font-weight: bold;
}